<?xml version="1.0"?>
<!--
    Adminhtml system configuration for ERP Integration
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="erp_integration" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>ERP Integration</label>
            <tab>general</tab>
            <resource>Custom_ErpIntegration::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>File Path Settings</label>
                <field id="json_path" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>ERP Products JSON File Path</label>
                    <comment>Relative to Magento root. Example: var/import/erp_products.json</comment>
                </field>
            </group>
        </section>
    </system>
</config>
